.contact {
  margin-bottom: 65px;
  &-container {
    display: flex;
    gap: 0 50px;
  }

  &-map {
    flex-shrink: 0;
    margin-right: auto;
  }

  &-content {
    flex: 1;
  }

  &-title {
    color: $text-color;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;

    &::before {
      content: "";
      width: 50px;
      height: 4px;
      background-color: $primary-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &-info {
    &-item {
      margin-bottom: 30px;
    }
    &-title {
      color: $heading-color-secondary;
      font-size: 14px;
      font-weight: 500;
      display: block;
      line-height: 1.8;
    }
    &-text {
      color: $primary-color;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &-form {
    &-title {
      color: $text-color;
      font-size: 25px;
      font-weight: 700;
      position: relative;
      padding-bottom: 20px;
      padding-top: 15px;
      margin-bottom: 30px;
      &::before {
        content: "";
        width: 35px;
        height: 3px;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    &-input {
      border: solid 1px $border-color;
      background-color: $white-color;
      color: $text-color;
      font-size: 14px;
      padding: 14px 20px;
    }
    &-button {
      padding: 12px 30px;
      background-color: #333;
      color: $white-color;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-color: $green-light-color;
        color: $text-color;
      }
    }
  }
}
