.footer {
  &-top {
    background-color: $primary-color;
    margin-bottom: 55px;
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .social {
        display: flex;
        align-items: center;
        &-join {
          color: $white-color;
          font-size: 15px;
          line-height: calc(20 / 14);
          text-transform: uppercase;
          letter-spacing: 1.12px;
          font-weight: 500;
          padding-right: 30px;
        }
        &-list {
          display: flex;
          align-items: center;
        }
        &-item {
          display: inline-block;
          color: $text-color;
          padding-right: 20px;
          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
          }
        }
      }
      .signup {
        &-form {
          display: flex;
          align-items: stretch;
        }
        &-input {
          border: none;
          outline: none;
          padding: 16px 12px 16px 15px;
          background-color: #393a54;
          font-size: 16px;
          color: $white-color;
          width: 340px;
        }
        ::-webkit-input-placeholder {
          color: #9494a3;
        }
        &-button {
          padding: 18px;
          color: $primary-color;
          font-size: 15px;
          font-weight: 700;
          &:hover {
            color: $white-color;
            background-color: $green-light-color;
          }
        }
      }
    }
  }
  &-content {
    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 0 105px;
      border-bottom: solid 2px $border-color;
      padding-bottom: 70px;
      margin-bottom: 14px;
    }
  }
  &-heading {
    margin-bottom: 28px;
  }
  &-links {
    list-style-type: none;
  }
  &-item {
    margin-bottom: 22px;
  }
  &-link {
    color: $text-color;
    font-size: 14px;
    &:hover {
      color: $secondary-color;
    }
  }
  &-cash {
    padding: 12px 0;
    background-color: $primary-color;
    color: $white-color;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 550;
  }
  &-bottom {
    margin-bottom: 26px;
    &-heading {
      margin-bottom: 5px;
      font-size: 11px;
    }
    .copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        color: $text-color;
        font-size: 12px;
        line-height: calc(21 / 12);
      }
    }
  }
}
