$font: "Noto Sans", sans-serif;
$primary-color: #181938;
$secondary-color: #6bd918;
$text-color: #13283f;
$heading-color-primary: #13283f;
$heading-color-secondary: #86919c;
$text-sale-color: #ec3d17;
$white-color: #fff;
$gray-color: #89939f;
$gray-light-color: #9b9b9b;
$green-dark-color: #569d1b;
$green-light-color: #78e723;
$border-color: #e8e9eb;
